.contacts-section {
  background-color: var(--background-darker);
}

.contacts-icons {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.icon {
  font-size: 2rem;
  color: var(--purple);
}

.info-block {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.location {
  display: flex;
  flex-direction: column;
}

.add-info {
  font-size: 0.8rem;
  color: var(--grey);
}

.input-fields {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.contacts-name,
.contacts-email,
.contacts-subject {
  height: 2.65rem;
  border-radius: 0;
  border: 1px solid var(--grey);
  padding: 15px;
  font-size: 0.8125rem;
  font-family: inherit;
  outline: none;
  border: 1px solid rgb(202, 208, 214);
}

.contacts-name::placeholder,
.contacts-email::placeholder,
.contacts-subject::placeholder,
.input-message::placeholder {
  font-family: inherit;
  color: #6c757d;
}

.contacts-name:focus,
.contacts-email:focus,
.contacts-subject:focus,
#input-message:focus {
  border-color: rgb(98, 101, 104);
}

#input-message {
  height: 10rem;
  border-radius: 0;
  resize: vertical;
  padding: 15px;
  font-size: 0.8125rem;
  outline: none;
  font-family: inherit;
  border: 1px solid rgb(202, 208, 214);
}

.contacts-btn-div {
  display: flex;
  margin-top: 2rem;
  justify-content: flex-end;
}
.contacts-btn {
  text-transform: uppercase;
  border: none;
  border: 1px solid var(--purple);
  background-color: var(--purple);
  color: var(--white);
  padding: 0.7rem 2rem;
}

.contacts-btn:hover {
  border: 1px solid var(--purple);
  background-color: var(--white);
  color: var(--purple);
  cursor: pointer;
}

@media (max-width: 992px) {
  .contacts-icons,
  .input-fields {
    margin-bottom: 2rem;
  }
}

@media (max-width: 576px) {
  .contacts-icons {
    margin-right: 1.9rem;
  }
}
